{% extends "layout1.html" %}

{% block title %}
    Return Book
{% endblock %}

{% block main %}
    <form action="/return1" method="post">
        <h5>Just enter the book id and click on return</h5>
        <div class="form-group">
            <b><label for='book_id'>Book ID     : </label></b>  <input type="text" class="form-control" name="book_id" id= 'book_id' placeholder='Book ID' required>
        </div>
        <div class="form-group">
            <b>Student ID  : {{ student_id }} </b>
        </div>
        <div class="form-group">
            <b>Issue Date  : {{ d3 }} </b>
        </div>
        <div class="form-group">
            <input type='submit' value='Return' class='btn btn-success'>
        </div>
    </form>
{% endblock %}
