{% extends "layout.html" %}

{% block title %}
    Searched
{% endblock %}

{% block main %}
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Book id</th>
                <th>Book title</th>
                <th>Book Author</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
